@model IEnumerable<BugTracker.Models.Ticket>
@using BugTracker.Models.Enums

@{
    ViewData["Title"] = "My Tickets";
}

<h1>My Tickets</h1>

<a class="btn btn-outline-info mb-3" asp-action="Create">
    <div class="fst-button">
        Create New
    </div>
    <i class="material-icons icon-sm ms-1">chevron_right</i>
</a>

<div class="row gx-5">
    <div class="col-lg-12 mb-4">
        <!-- Table -->
        <div class="card card-raised mb-5">
            <div class="card-header bg-primary text-white px-4">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="me-4">
                        <h2 class="card-title text-white mb-0">My Tickets</h2>
                        <div class="card-subtitle">Access Below</div>
                    </div>
                </div>
            </div>
            <div class="card-body p-4">
                <table class="table" id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Project)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TicketType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TicketStatus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TicketPriority)
                            </th>
                            <th>@Html.DisplayNameFor(model => model.Created)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderByDescending(d => d.Created))
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Project.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketType.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                                </td>
                                @if (item.TicketPriority.Name == nameof(BTTicketPriority.High) || item.TicketPriority.Name == nameof(BTTicketPriority.High))
                                {
                                    <td>
                                        <div class="badge rounded-pill bg-danger">

                                            @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <div class="badge rounded-pill bg-success">

                                            @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                                        </div>
                                    </td>
                                }
                                <td>
                                    @Html.DisplayFor(modelItem => item.Created)
                                </td>
                                <td>
                                    <div class="row mx-3">
                                        <a class="btn btn-sm btn-outline-info m-1 flex-row justify-content-center" asp-action="Details" asp-controller="Tickets" asp-route-id="@item.Id">
                                            <div class="fst-button">
                                                Details
                                            </div>
                                            <i class="material-icons icon-sm ms-1">chevron_right</i>
                                        </a>
                                        <a class="btn btn-sm btn-outline-info m-1 flex-row justify-content-center" asp-action="Edit" asp-controller="Tickets" asp-route-id="@item.Id">
                                            <div class="fst-button">
                                                Edit
                                            </div>
                                            <i class="material-icons icon-sm ms-1">chevron_right</i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <!-- Load Simple DataTables Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="~/js/datatables/datatables-simple-demo.js"></script>
    }