@model IEnumerable<BugTracker.Models.Project>
@using BugTracker.Models.Enums

@{
    ViewData["Title"] = "My Projects";
}

<h1>My Projects</h1>

@*Can access the principal user in different ways - see below*@
@if (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(nameof(Roles.ProjectManager)))
{
    <p>
        <a asp-action="Create" class="btn btn-outline-info">Create New</a>
    </p>
}

<div class="row gx-5">
    <div class="col-lg-12 mb-4">
        <!-- Table -->
        <div class="card card-raised mb-5">
            <div class="card-header bg-primary text-white px-4">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="me-4">
                        <h2 class="card-title text-white mb-0">All Projects</h2>
                        <div class="card-subtitle">Access Below</div>
                    </div>
                </div>
            </div>
            <div class="card-body p-4">
                <!-- Projects -->
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.Description)</th>
                            <th>@Html.DisplayNameFor(model => model.StartDate)</th>
                            <th>@Html.DisplayNameFor(model => model.EndDate)</th>
                            <th>
                                @Html.DisplayNameFor(model => model.ImageFileData)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ProjectPriorityId)
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @* Table body *@
                        @foreach (Project item in Model.OrderByDescending(p => p.StartDate))
                        {
                            <tr>
                                <td><strong>@item.Name</strong></td>
                                <td>@Html.Raw(item.Description)</td>
                                <td><span style="font-size: small">@item.StartDate.ToString("MM/dd/yyyy")</span></td>
                                <td><span style="font-size: small">@item.EndDate.ToString("MM/dd/yyyy")</span></td>
                                <td>
                                    @if (item?.ImageFileData != null)
                                    {
                                        <img id="imageFileData" class="img-fluid img-thumbnail" style="max-width: 100px; height: auto;" src="data:image/*;base64,@(Convert.ToBase64String(item.ImageFileData))" />
                                    }
                                    else
                                    {
                                        <img id="imageFileData" class="img-fluid img-thumbnail" style="max-width: 100px; height: auto;" src="/img/projectDefault.png" />
                                    }
                                </td>
                                <td>
                                    @if (item.ProjectPriority?.Name == nameof(BTProjectPriority.Urgent) || item.ProjectPriority?.Name == nameof(BTProjectPriority.High))
                                    {
                                        <span class="badge rounded-pill bg-danger">@item.ProjectPriority?.Name</span>
                                    }
                                    else
                                    {
                                        <span class="badge rounded-pill bg-success">@item.ProjectPriority?.Name</span>
                                    }
                                </td>
                                <td>
                                    <div class="row mx-3">

                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info mb-2 flex-row justify-content-center">
                                        <div class="fst-button">
                                            Details
                                        </div>
                                        <i class="material-icons icon-sm ms-1">chevron_right</i>
                                    </a>
                                    @if (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(nameof(Roles.ProjectManager)))
                                    {

                                        <a class="btn btn-sm btn-outline-info mb-2" asp-action="Edit" asp-controller="Projects" asp-route-id="@item.Id flex-row justify-content-center">
                                            <div class="fst-button">
                                                Edit
                                            </div>
                                            <i class="material-icons icon-sm ms-1">chevron_right</i>
                                        </a>
                                        @if (item.Archived)
                                        {
                                            <a class="btn btn-sm btn-outline-info mb-2" asp-action="Restore" asp-controller="Projects" asp-route-id="@item.Id flex-row justify-content-center">
                                                <div class="fst-button">
                                                    Restore
                                                </div>
                                                <i class="material-icons icon-sm ms-1">chevron_right</i>
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-sm btn-outline-info mb-2 flex-row justify-content-center" asp-action="Archive" asp-controller="Projects" asp-route-id="@item.Id">
                                                <div class="fst-button">
                                                    Archive
                                                </div>
                                                <i class="material-icons icon-sm ms-1">chevron_right</i>
                                            </a>
                                        }
                                    }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <!-- Load Simple DataTables Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="~/js/datatables/datatables-simple-demo.js"></script>
    }
