@model IEnumerable<BugTracker.Models.Project>

@{
    ViewData["Title"] = "Unassigned Projects";
}

<h1>Unassigned Projects</h1>


<a class="btn btn-outline-info my-3" asp-action="Create" asp-controller="Projects">
    <div class="fst-button">
        Create New Project
    </div>
    <i class="material-icons icon-sm ms-1">chevron_right</i>
</a>

<hr/>

<!-- Table -->
<div class="card card-raised mb-5">
    <div class="card-header bg-primary text-white px-4">
        <div class="d-flex justify-content-between align-items-center">
            <div class="me-4">
                <h2 class="card-title text-white mb-0">Tickets</h2>
                <div class="card-subtitle">Assign Developers</div>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <!-- Projects -->
        <table id="datatablesSimple">
            <thead>
                <tr>
                    @* Table header *@
                    <th>Title</th>
                    <th>Description</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Image</th>
                    <th>Project Priority</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @* Table body *@
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <strong>
                                @Html.DisplayFor(modelItem => item.Name)
                            </strong>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td>
                            @if (item?.ImageFileData != null)
                            {
                                <img id="imageFileData" class="img-fluid img-thumbnail" style="width:100px; height:auto;" src="data:image/*;base64,@(Convert.ToBase64String(item.ImageFileData))" />
                            }
                            else
                            {
                                <img id="imageFileData" class="img-fluid img-thumbnail" style="width:100px; height:auto;" src="/img/projectDefault.png" />

                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProjectPriority.Name)
                        </td>
                        <td>
                            <div class="row mx-3">

                            <a class="btn btn-sm btn-outline-info flex-row justify-content-center" asp-action="AssignPM" asp-controller="Projects" asp-route-projectId="@item.Id">
                                <div class="fst-button">
                                    Assign PM
                                </div>
                                <i class="material-icons icon-sm ms-1">chevron_right</i>
                            </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <!-- Load Simple DataTables Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="~/js/datatables/datatables-simple-demo.js"></script>
}